<h1>New Releases</h1>
<p>The following is a list of new releases. <br />
    Click the <b>album cover</b> or <b>artist name</b> for more information.</p>

<div class="content">
    <div class="fxlayout">

        <!-- Single "Responsive" Card-->
        <div class="fxflex" [style.margin]="'20px'" *ngFor="let card of releases">
            <mat-card [style.min-width]="'200px'">
                <mat-card-header>
                    <mat-card-title>{{card.name}}</mat-card-title>
                    <mat-card-subtitle>New Release</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="album-cover" src={{card.images[1].url}} alt="album art" [routerLink]="['/album',card.id]">
                <strong>Release Date: </strong>{{transDateFormat(card.release_date)}}<br />
                <strong>Tracks: </strong>{{card.total_tracks}}<br /><br />
                <mat-card-content>
                    <mat-chip-list aria-label="Artist selection">
                        <mat-chip [routerLink]="['/artist',artist.id]" *ngFor="let artist of card.artists">{{artist.name}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>